Assignments
intro
lectures/w1_background/video
lectures/w2_gitUnix/video
lectures/w3_rIntro/video
lectures/w4_pipelines/video
lectures/w5_rDataManip/video
lectures/w6_rTesting/video
lectures/w7_rAndAPI/video
lectures/w8_rMarkdownLaTeX/video
lectures/w9_dependencyHell/video
lectures/w10_parallelComputing/video
lectures/w11_spatialData/video
lectures/w12_introToModeling/video
lectures/w12_introToModeling/funLab
FinalExam/finalAnswers.Rmd
projGrades.csv

